nav{
  text-align: center;
}
nav button {
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  color: #ffff;
  background-color: #a7b0be;
  font-weight: 400;
  border-radius: 10px;
  transition: 0.5s;
}
nav button:hover {
  background-color: #6324c6;
}
nav button:focus {
  background-color: #6324c6;
}
nav .news {
  margin-left: 15px;
  margin-right: 15px;
}
