.buttonArea{
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}
.loadButton{
    width: 100%;
    padding: 12px ;
    background-color: #6324C6;
    color: #ffff;
    font-size: 20px;
}
.loadButton span{
    font-size: 20px;
}