.Card{
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 300;
    font-size: 1.5rem;
    overflow: hidden;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.Card .header{
    color: #000 ;
    background-color:#fff;
    padding:15px 0px;
}
.Card .conteudo{
    color: #fff ;
    background-color: #000;
    padding:5px 0px;
    flex: 1;
    text-align: center;
    display: flex;
}
