.topArea{
    margin-bottom: 21px;
    box-sizing: border-box;
}

.topArea header{
    padding: 15px;
    background-color: blueviolet;
}

.topArea h1{
    color: #fff;
    font-size: 2rem;
    margin: 0;
}

.topArea span{
    color:orange;
}

.navButtons{
    border-bottom: 20px;
}
.navButtons button{
    margin: 16px;
    height: 48px;
    width: 202px;
    border-radius: 8px;
    transition: 0.3s;
}

.navButtons button:hover{
    background-color: blueviolet;
    color: #fff;
}

.navButtons button:focus{
    background-color: blueviolet;
    color: #fff;
}

.postArea{
    margin-left: 56px;
    margin-right: 56px;
}

hr{
    border: 1px solid #4C5667;
}