.postItem{
    display: flex;
    align-items: flex-start;
    margin-top: 30px ;
    border-top: 2px solid grey;
    margin-left: 60px;
    margin-right: 60px;
    padding: 30px 0px;
}
.postInfos{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    max-height: 80px;
}
.postInfos .title{
    font-size: 20px;
    font-weight: 600;
}
.postInfos .date{
    font-size: 16px ;
    font-weight: 400;
}

.postInfos .url{
    font-weight: 700;
    margin-top: 23px;
}
.thumb{
    background-color: gray;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.thumb img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

